h2 {
    color: #222;
    margin: 15px 0px 0px 30px
}

.content-home {
    overflow-y: scroll;
    height: 100vh;
    scrollbar-color: rgba(255, 255, 255, 0.87) rgba(255, 255, 255, 0.87);
}

.content-tracks {
    background-color: white;
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
    display: flex;
}

.all-tracks,
.all-albums {
    display: flex;
    width: 1150px;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 20px;
}

.all-artists {
    padding: 20px;
    display: flex;
    width: 1150px;
    height: 250px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card-track {
    border: solid 1px #f5f5f6;
    background-color: #f5f5f6;
    width: 230px;
    height: 280px;
    cursor: pointer;
    color: #222;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

.card-track:hover .play-button {
    display: block;
    z-index: 1;
}

.play-button {
    text-align: center;
    display: none;
    top: 50%;
    left: 0;
    margin: -28px;
    position: relative;
    z-index: 1;
}

.play-button-album {
    text-align: center;
    display: none;
    top: 50%;
    left: 0;
    margin: -28px;
    position: relative;
    z-index: 1;
}

.play-button img {
    width: 50px;
    height: 50px;
}

.play-button-album img {
    width: 50px;
    height: 50px;
}

.card-artist {
    border: solid 1px #f5f5f6;
    background-color: #f5f5f6;
    width: 190px;
    height: 225px;
    cursor: pointer;
    color: #222;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

#all-artists {
    /* /* padding-left: 20px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: rgba(255, 255, 255, 0.87) rgba(255, 255, 255, 0.87);
}