.flex-container {
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    background-color: white;
}

.left-section {
    flex-grow: 1;
    width: 10%;
    margin: 5px 10px 10px 10px;
    text-align: center;
    align-content: space-evenly;
}

.mid-section {
    flex-grow: 4;
    padding-right: 25px;
}

.mid-section div {
    box-shadow: none;
}

.right-section {
    max-width: 25%;
}