body,
html {
  margin: 0;
  width: auto;
}

#main-container {
  display: flex;
  height: 100vh;
  font-family: Poppins;
}

.main-content-area {
  flex: 1;
  display: flex;
  width: auto;
  flex-direction: column;
  box-sizing: border-box;
}

footer {
  color: #222222;
  font-size: small;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-size: small;
}

.success-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}